[project]
	description = A Chef cookbook to manage taskwarrior and friends.
[access "refs/*"]
	owner = group user/Alfredo Palhares (masterkorp)
[access "refs/for/refs/*"]
	read = group user/Alfredo Palhares (masterkorp)
	push = group user/Alfredo Palhares (masterkorp)
	label-Code-Review = -2..+2 group user/Alfredo Palhares (masterkorp)
	label-Verified = -1..+1 group user/Alfredo Palhares (masterkorp)
	rebase = group user/Alfredo Palhares (masterkorp)
	removeReviewer = group user/Alfredo Palhares (masterkorp)
	submit = group user/Alfredo Palhares (masterkorp)
[access "refs/heads/*"]
	read = group user/Alfredo Palhares (masterkorp)
	create = group user/Alfredo Palhares (masterkorp)
	push = +force group user/Alfredo Palhares (masterkorp)
	pushMerge = group user/Alfredo Palhares (masterkorp)
[access "refs/tags/*"]
	push = +force group user/Alfredo Palhares (masterkorp)
	pushTag = group user/Alfredo Palhares (masterkorp)
	pushSignedTag = group user/Alfredo Palhares (masterkorp)
